* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #cf5c36;
    background: url(y-so-serious-white.png)
}


.contenedor {
    margin: 200px auto;
    width: 300px;
    background-color: #161616;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 60px rgb(234, 123, 59);
}

form p {
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
}

input[type="text"],
input[type="reset"]{
    width: 100%;
    margin-bottom: 20px;
    padding: 20px;
    text-align: center;
}

form .btn {
    width: 100%;
    background-color: #cf5c36;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    padding: 20px;
    display: inline-block;
    text-decoration: none;
}

/*----BOTON----*/

button {
    transition: 2s ease all;
    position: absolute;
    float: right;
    margin-bottom: 20px;
}

.switch {
    background: #343d5b;
    border-radius: 1000px;
    border: none;
    top: 0;
    margin: 25px 1000px;
    cursor: pointer;
    display: flex;
    outline: none;
  }
  .switch::after {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    background: #f1f1f1;
    top: 0;
    left: 0;
    right: unset;
    border-radius: 100px;
    transition: 0.3s ease all;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
  }
  .switch.active {
    background: orange;
    color: black;
  }
  .switch.active::after {
    right: 0;
    left: unset;
  }
  .switch span {
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    background-color: none;
    color: white;
}

body.dark .contenedor {
    background-color: rgba(255, 255, 255, 0.7);
}

body.dark{
    background: url(y-so-serious.png);
}
